/* -------RESET------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------GENERAL------- */
body{
    font-family: 'Cabin', sans-serif;
}
.container{
    width: 75%;
    margin: 0 auto;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

/* -------HEADER------- */

header{
    width: 100%;
    height: 55px;
    background-color: #ff6900;
}

section.nav-bar{
    height: 100%;
}

nav.menu,
div.account-icon{
    width: 30%;
    height: 100%;
}

div.main-logo{
    width: 40%;
    height: 100%;
}

div.main-logo img{
    width: 130px;
}

section.nav-bar ul li{
    margin: 0 .3rem;
    display: inline;
}

section.nav-bar ul li a{
    text-decoration: none;
    color: white;
}

section.nav-bar ul li a:hover{
    color: rgb(179, 179, 179);

}

nav.menu{
    justify-content: flex-start;
}

div.account-icon{
    justify-content: flex-end;
}

/* -------MAIN------- */

section.row-items{
    margin-top: 2.5rem;
    height: 500px;
}

article.shop-article{
    height: 100%;
    width: calc((100% / 3) - 1rem );
    margin: 0 1rem;

    position: relative;
}

div.img-article{
    width: 100%;
    height: 85%;
    background-color: rgb(138, 138, 66);

    background-size: cover;
    background-repeat: no-repeat;
}

/* IMG HOVER */
article.shop-article:hover #art-relaxed-fit{
    background-image: url(../img/1b.webp);
}

article.shop-article:hover #roses-tee{
    background-image: url(../img/2b.webp);
}

article.shop-article:hover #colori-pastello{
    background-image: url(../img/3b.webp);
}


/* ARTICLE ID IMG */
#art-relaxed-fit{
    background-image: url(../img/1.webp);
}

#roses-tee{
    background-image: url(../img/2.webp);
}

#colori-pastello{
    background-image: url(../img/3.webp);

}

/* DISCOUNT BOX POSITION */

div.discount{
    position: absolute;
    left: 0;
    bottom: 130px;
}

span.percentuale,
span.sostenibilita{
    color: white;
    padding: .3rem;
}

span.percentuale{
    background-color: red;
    margin-right: .2rem;
}

span.sostenibilita{
    background-color: green;
}

/* ARTICLE CLASS PRICE BOX */
span.marca{
    font-size: .8rem;
}

span.title-art{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

span.price{
    margin-top: .5rem;
    font-size: .9rem;
    color: red;
}

span.sale{
    margin-left: .3rem;
    color: grey;
    text-decoration: line-through;
}

/* -------FOOTER------- */

footer{
    width: 100%;
    height: 90px;
    background-color: rgb(68, 68, 68);
    margin-top: 3rem;
}

.footer-section{
    color: white;
    height: 100%;
    justify-content: space-between;    
}
